<div class="sidebar">
    <ul>
        <li>
            <div class="dropdown p-2">
                <button class="dropbtn p-2 text-white"><i class="bi bi-globe-europe-africa"></i><%= lang %></button>
                <div class="dropdown-content">
                    <a href="./setLanguage/en"><i class="fi fi-gb"></i>English</a>
                    <a href="./setLanguage/fa"><i class="fi fi-af"></i>فارسی</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/typing">
                <span class="icon"><i class="bi bi-keyboard"></i></span>
                <span class="text">
                    <%= typing %>
                </span>
            </a>
        </li>
        <li>
            <a href="/users">
                <span class="icon"><i class="bi bi-people"></i></span>
                <span class="text">
                    <%= users %>
                </span>
            </a>
        </li>
        <li>
            <a href="/texts">
                <span class="icon"><i class="bi bi-card-text"></i></span>
                <span class="text">
                    <%= texts %>
                </span>
            </a>
        </li>
        <li>
            <a href="/records">
                <span class="icon"><i class="bi bi-clock-history"></i></span>
                <span class="text">
                    <%= records %>
                </span>
            </a>
        </li>
        <!-- <li>
            <a href="/settings">
                <span class="icon"><i class="bi bi-gear"></i></span>
                <span class="text">
                    <%= settings %>
                </span>
            </a>
        </li> -->
        <div class="logout">
            <li>
                <a href="/profile">
                    <span class="icon">
                        <div class="img-box">
                            <img src="/images/profile.jpg" alt="">
                        </div>
                    </span>
                    <span class="text">
                        <%= logedUser?.username %>
                            <% if(logedUser?.role_id==1) { %>
                                <span>🔑</span>
                                <% } %>
                    </span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                    <span class="text">
                        <%= logout %>
                    </span>
                </a>
            </li>
        </div>

    </ul>
</div>