<%- include("partials/head.ejs") %>

    <body>
        <div class=" min-w-100">
            <div class="d-flex justify-content-between">
                <%- include("partials/dashboard") %>
                    <div class="data-container">
                        <header>
                            <div class="input-group mb-3 search">
                                <input type="text" class="form-control" placeholder="Search..."
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                        class="bi bi-search"></i></button>
                            </div>
                            <button class="btn btn-primary add-new" onclick="activateEl">
                                <%= add %><i class="bi bi-person"></i>
                            </button>
                        </header>

                        <div>
                            <h1>
                                <%= title %>
                            </h1>
                            <% if(msgs.length !==0) { %>
                                <div class="msg">
                                    <% msgs.forEach((msg)=> {%>
                                        <p>
                                            <%= msg %>
                                        </p>
                                        <% }) %>
                                </div>
                                <% } %>

                                    <% if(errors.length !==0) { %>
                                        <div class="err">
                                            <% errors.forEach((err)=> {%>
                                                <p>
                                                    <%= err %>
                                                </p>
                                                <% }) %>
                                        </div>
                                        <% } %>
                                            <table class="table table-striped">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">User ID</th>
                                                    <th scope="col">Level ID</th>
                                                    <th scope="col">Points</th>
                                                </tr>
                                                <% data.forEach((score)=> { %>
                                                    <tr>
                                                        <td scope="row">
                                                            <%= score.userId %>
                                                        </td>
                                                        <td scope="row">
                                                            <%= score.levelId %>
                                                        </td>
                                                        <td scope="row">
                                                            <%= Math.round(score.point) %>%
                                                        </td>
                                                        <td>
                                                            <a href="/records/<%= score.id %>?_method=DELETE" class="btn btn-danger"><i
                                                                    class="bi bi-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </table>
                        </div>
                    </div>
            </div>
    </body>
    <script src="js/form.js"></script>

    </html>