<%- include("partials/head.ejs") %>

  <body>
    <div class="d-flex justify-content-between">
      <%- include("partials/dashboard") %>
      <div class="data-container">
        <header>
          <div class="input-group mb-3 search">
            <input type="text" class="form-control" placeholder="ex: Type first name"
              aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                class="bi bi-search"></i></button>
          </div>
          <button class="btn btn-primary add-new">
            <%= add %><i class="bi bi-person"></i>
          </button>
        </header>
        
        
        <div class="table-container">
            <h1>
              <%= title %>
            </h1>

            <% if(msgs.length !==0) { %>
              <div class="msg">
                <% msgs.forEach((msg)=> {%>
                  <p>
                    <%= msg %>
                  </p>
                  <% }) %>
              </div>
              <% } %>

                <% if(errors.length !==0) { %>
                  <div class="err">
                    <% errors.forEach((err)=> {%>
                      <p>
                        <%= err %>
                      </p>
                      <% }) %>
                  </div>
                  <% } %>

                    <table class="table table-striped">
                      <caption>
                        <%= title %>
                      </caption>
                      <thead>
                        <tr>
                          <th scope="col">
                            <%= no %>
                          </th>
                          <th scope="col">
                            <%= fName %>
                          </th>
                          <th scope="col">
                            <%= lName %>
                          </th>
                          <th scope="col">
                            <%= sclass %>
                          </th>
                          <th scope="col">
                            <%= actions %>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <% let a=1; data.forEach((record)=> { %>
                          <tr>
                            <td scope="row">
                              <%= ++startNum %>
                            </td>
                            <td>
                              <%= record.firstName %>
                            </td>
                            <td>
                              <%= record.lastName %>
                            </td>
                            <td>
                              <%= record.classId %>
                            </td>
                            <td>
                              <a href="/students/<%= record.id %>?method=PUT" class="btn btn-warning"><i
                                  class="bi bi-pen"></i></a>
                              <a href="/students/<%= record.id %>?_method=DELETE" class="btn btn-danger"><i
                                  class="bi bi-trash"></i></a>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                    <%- include("partials/pagination") %>
          </div>
        </div>

    </div>

    <!-- Form  -->
    <div class="d-flex justify-content-center  modal">
      <div class="login-container" id="container">
        <div class="form-container sign-in">
          <form action="/students" method="POST">
            <h1>
              <%= add +" " + title %></h1>
              <input type=" text" placeholder="<%= fName %>" name="first_name" class="input">
                <input type="text" placeholder="<%= lName %>" name="last_name" class="input">
                <select name="class_id" id="" class="input">
                  <option value="1">Grade 12</option>
                </select>
                <button type="submit">
                  <%= add %>
                </button>
          </form>
        </div>
        <div class="toggle-container">
          <button id="close-btn"><i class="bi bi-x-lg"></i></button>
          <div class="toggle">
            <div class="toggle-panel toggle-right">
              <h1>HWS</h1>
              <p>Enter Student info</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/form.js"></script>
  </body>

  </html>