<%- include("partials/head.ejs") %>

    <body class="min-vh-100 justify-content-center align-items-center">
        <div class="d-flex justify-content-center mt-5">
            <div class="login-container" id="container">
                <div class="form-container sign-in">
                    <form action="/texts/<%= data.id%>?_method=PUT" method="POST">
                        <h1>
                            <%= update +" " + texts %></h1>
                            <input type=" text" placeholder="levelId" name="levelId" class="input"
                                value="<%= data.levelId %>">
                                <textarea type="text" placeholder="content" name="content" class="input h-25"
                                    ><%= data.content %></textarea>
                                <button type="submit">
                                    <%=update%>
                                </button>
                    </form>
                </div>
                <div class="toggle-container">
                    <a href="/texts" id="close-btn"><i class="bi bi-x-lg"></i></a>
                    <div class="toggle">
                        <div class="toggle-panel toggle-right">
                            <h1>HWS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>