<%- include('./partials/head.ejs') %>

    <body>

        <div class="header">
            <a class="font-semibold mr-3" href="/">
                <img src="images/typing-logo.png" alt="Typing logo" style="width: 60px;">
                <h3>ATOM Typing</h3>
            </a>
            <p class="time">
                <span><b>1:00</b>s</span>
            </p>
            <div class="dropdown relative p-2 bg-white rounded-md text-cyan-500" id="level-selector">
                <button>Choose Level</button>
                <div class="dropdown-content right-0 top-10">
                    <% for (let i=1; i <=maxLevel; i++) { %><a href="typing?level=<%= i %>" class="text-cyan-500">
                            Level
                            <%= i %>
                        </a>
                        <% } %>
                </div>
            </div>
            <div class="progress-bar"></div>
        </div>

        <div class="cointainer">
            <p class="main-para" style="display: none;"><%=data.content%></p>
            <main>
                <div class="mistake-list">
                    <h4>Mistakes</h4>
                    <ul>
                    </ul>
                </div>

                <div class="wrapper">
                    <input type="text" class="input-field">
                    <div class="content-box">
                        <div class="typing-text">
                            <p></p>
                        </div>
                    </div>
                </div>
            </main>

        </div>

        <div class="modal">
            <div class="result-details p-10">
                <div class="result text-center">
                    <h1 class="text-cyan-500 text-3xl font-semibold">Congratulations</h1>
                    <p class="mt-10">Your point:</p>
                    <h1 class="point text-cyan-500 text-6xl font-bold mt-2">66%</h1>
                    <p class="mt-6"><span class="wpm">
                        WPM:&nbsp; 
                            <b>0</b></span>
                    </p>
                    <p><span class="mistake">Mistakes:&nbsp;<b>0</b></span>
                    </p>
                </div>
                <button id="try-again" class="m-auto block">Try again</button>
                <form action="/records" method="POST" id="score-form">
                    <input type="hidden" name="userId" value="<%= user.id %>">
                    <input type="hidden" name="levelId" value="<%= data.levelId %>">
                    <input type="hidden" name="score" value="">
                    <!-- <button type="submit">Ok</button> -->
                </form>
            </div>
        </div>

        <script src="js/script.js"></script>

    </body>

    </html>