<%- include("partials/head.ejs") %>

    <body class="min-vh-100 justify-content-center align-items-center">
        <div class="d-flex justify-content-center mt-5">
            <div class="login-container" id="container">
                <div class="form-container sign-in">
                    <form action="/users/<%= data.id%>?_method=PUT" method="POST">
                        <h1>
                            <%= update +" " + users %></h1>
                            <input type=" text" placeholder="<%= username %>" name="username" class="input"
                                value="<%= data.username %>">
                                <input type="text" placeholder="<%= email %>" name="email" class="input"
                                    value="<%= data.email %>">
                                <input type="text" placeholder="<%= password %>" name="password" class="input"
                                    value="<%= data.password %>">
                                <button type="submit">
                                    <%=update%>
                                </button>
                    </form>
                </div>
                <div class="toggle-container">
                    <a href="/users" id="close-btn"><i class="bi bi-x-lg"></i></a>
                    <div class="toggle">
                        <div class="toggle-panel toggle-right">
                            <h1>HWS</h1>
                            <p>Enter User info</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>