<%- include("partials/head.ejs") %>

  <body>
    <div class="d-flex justify-content-between">
      <%- include("partials/dashboard") %>
        <div class="data-container">
          <header>
            <div class="input-group mb-3 search">
              <input type="text" class="form-control" placeholder="ex: Type first name"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                  class="bi bi-search"></i></button>
            </div>
            <button class="btn btn-primary add-new" onclick="activateEl">
              <%= add %><i class="bi bi-person"></i>
            </button>
          </header>

          <div>
            <h1>
              <%= title %>
            </h1>
            <% if(msgs.length !==0) { %>
              <div class="msg">
                <% msgs.forEach((msg)=> {%>
                  <p>
                    <%= msg %>
                  </p>
                  <% }) %>
              </div>
              <% } %>

                <% if(errors.length !==0) { %>
                  <div class="err">
                    <% errors.forEach((err)=> {%>
                      <p>
                        <%= err %>
                      </p>
                      <% }) %>
                  </div>
                  <% } %>

                    <table class="table table-striped">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Actions</th>
                      </tr>
                      <% data.forEach((record)=> { %>
                        <tr>
                          <td scope="row">
                            <%= record.id %>
                          </td>
                          <td scope="row">
                            <%= record.studentId %>
                          </td>
                          <td>
                            <%= record.username%>
                          </td>
                          <td>
                            <%= record.email %>
                          </td>
                          <td>
                            <%= record.password %>
                          </td>
                          <td>
                            <a href="/users/<%= record.id %>" class="btn btn-warning"><i
                                class="bi bi-pen"></i></a>
                            <a href="/users/<%= record.id %>?_method=DELETE" class="btn btn-danger"><i
                                class="bi bi-trash"></i></a>
                          </td>
                        </tr>
                        <% }) %>
                    </table>
          </div>
        </div>
    </div>

    <div>
      <div>
        <form action="users/<%= %>"></form>
      </div>
    </div>

    <!-- Form -->
    <div class="d-flex justify-content-center  modal">
      <div class="login-container" id="container">
        <div class="form-container sign-in">
          <form action="/users" method="POST">
            <h1>
              <%= add +" " + users %></h1>
                <select name=" studentId" id="" class="input">
                <option value="1">1</option>
                </select>
                <input type="text" placeholder="<%= username %>" name="username" class="input">
                <input type="text" placeholder="<%= email %>" name="email" class="input">
                <input type="text" placeholder="<%= password %>" name="password" class="input">
                <button type="submit">
                  <%= add %>
                </button>
          </form>
        </div>
        <div class="toggle-container">
          <button id="close-btn"><i class="bi bi-x-lg"></i></button>
          <div class="toggle">
            <div class="toggle-panel toggle-right">
              <h1>HWS</h1>
              <p>Enter User info</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/form.js"></script>

  </body>

  </html>